button, .btn {
    cursor: pointer;
    font-family: $font-family-sans-serif;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    margin: 0 8px 8px 0;
    padding: 16px 24px;
    min-width: 172px;
}

.btn + .btn {
    &:last-of-type {
        margin-right: 0;
    }
}

.btn-primary + .btn-primary:nth-child(even) {
    @extend .btn-secondary;
}

.btn-light {
    color: $primary;
}

body .gform_wrapper .gform_footer input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
}

// search
.btn-submit-search {
    padding: 6px 12px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: $muted;
    border-left: none;
    height: 44px;
}