// variables
$searchform-height: 48px;

#searchForm {
    border: 2px solid $dark;
    input {
        background-color: $soft;
        border-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
        height: $searchform-height;
    }

    .btn {
        background-image: url("data:image/svg+xml,%3Csvg id='search' xmlns='http://www.w3.org/2000/svg' width='23.606' height='23.605' viewBox='0 0 23.606 23.605'%3E%3Cpath id='Path_8' data-name='Path 8' d='M325.226,325.188a1.475,1.475,0,0,1,2.088,0l5.68,5.68a1.476,1.476,0,0,1-2.086,2.088l-5.68-5.68a1.475,1.475,0,0,1,0-2.088Z' transform='translate(-309.82 -309.782)' fill='%233050a0' fill-rule='evenodd'/%3E%3Cpath id='Path_10' data-name='Path 10' d='M325.226,325.188a1.475,1.475,0,0,1,2.088,0l5.68,5.68a1.476,1.476,0,0,1-2.086,2.088l-5.68-5.68a1.475,1.475,0,0,1,0-2.088Z' transform='translate(-309.82 -309.782)' fill='%233050a0' fill-rule='evenodd'/%3E%3Cpath id='Path_9' data-name='Path 9' d='M9.59,17.7A8.115,8.115,0,1,0,1.475,9.59,8.115,8.115,0,0,0,9.59,17.7ZM19.18,9.59A9.59,9.59,0,1,1,9.59,0a9.59,9.59,0,0,1,9.59,9.59Z' transform='translate(0 0)' fill='%233050a0' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        height: $searchform-height;
        width: $searchform-height;
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

//captcha mobile fix
@media (max-width: 361.98px) {
    #gform_wrapper_1 div.ginput_recaptcha,
    #gform_wrapper_7 div.ginput_recaptcha {
        -ms-transform: scale(.8);
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0
    }
}